# project lang/technology 
language: node_js
node_js:
  - "10.14.2"

cache: npm

before_install:
  - export COMMITTER_EMAIL="$(git log -1 $TRAVIS_COMMIT --pretty="%cE")"

jobs:
  include:
    - stage: Unit tests
      script: npm run test
    - stage: integration tests
      script: npm run integration-test
    - stage: build
      script: npm run build
    - stage: test build
      script: npm run build.test
    - stage: deploy
      script: npm run deploy

notifications:
  email:
    recipients:
      - 9cfe50a3.codearchitects.com@emea.teams.m
  