# project lang/technology 
language: node_js
node_js:
  - "10.14.2"

cache: npm

before_install:
  - export COMMITTER_EMAIL="$(git log -1 $TRAVIS_COMMIT --pretty="%cE")"

jobs:
  include:
    - stage: integration tests
      script: npm run integration-test
    - stage: build
      script: npm run build
    - stage: test build
      script: npm run build.test
    - stage: deploy
      script: npm run deploy

notifications:
  email:
    recipients:
      - COMMITTER_EMAIL
      - petrutarna@gmail.com
    template:
      - "%{repository_slug}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
  